<h1>what <%= @user%> has for sale:
</h1>

<p> 
<%if @items.empty? %>
	<strong>NOTHING BRO!!! </strong>
<% else %>
	<% @items.each do |item| %>
	<strong>Name:</strong> <%= item.name %> <br>
	<strong>Description:</strong> <%= item.description %><br>
	<strong>Starting price: </strong><%= item.starting_price %><br>
	<strong>Expiration date: </strong><%= item.expiration_date %><br><br>
	<% end %>
<% end %>
</p>
<%= link_to("add new item", items_new_path) %><br>
<%= link_to("see all items for sale", items_all_path) %><br>